/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* NavBar styling */
.NavBar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 0 10px;
  position: relative;
}

.Logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BurgerMenu {
  display: none; /* Verborgen voor grotere schermen */
  flex-direction: column;
  cursor: pointer;
}

.BurgerMenu div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

/* InnerNav - standaard verborgen */
.InnerNav {
  display: none; 
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  width: 100%;
  padding-right: 20px;
}

/* Active class voor de navigatie links */
.InnerNav.active {
  display: flex;
  align-items: center;justify-content: center;
  position: absolute;
  top: 85px;
  left: 260px;
  width: 150px;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 100;
  flex-direction: column;
}

.InnerNav a {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Hover effect voor links */
.InnerNav a:hover {
  background-color: #00000010;
}

/* Voor mobiele schermen */
@media (max-width: 425px) {
  .BurgerMenu {
    display: flex; /* Toon burger menu voor kleine schermen */
  }

  .NavBar {
    justify-content: space-between;
  }

  .InnerNav a {
    margin: 5px 0;
  }
}

/* Voor grotere schermen, toon de navigatie altijd */
@media (min-width: 426px) {
  .InnerNav {
    display: flex; /* Toon navigatie standaard op grotere schermen */
    justify-content: flex-end;
    padding-right: 20px;
  }
}
